<div class="form-container">
  <h2>Book this class</h2>
  <%= @yogaclass.title %>
  <div class="form-card">
    <%= link_to 'Book', yogaclass_bookings_path(@yogaclass), method: :POST %>
  </div>
</div>
