<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://upload.wikimedia.org/wikipedia/commons/8/87/Clouds_CL6.jpg);">
  <div class="container">
    <h1>Your Yoga</h1>
    <p>Find & Offer Yoga Classes - All Around the World</p>
    <a class="btn btn-gradient" href="#">Sign in</a>
  </div>
</div>
