  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path 'banner.jpg' %>);">
  <div class="container">
    <h1>Your Yoga</h1>
    <p>Find or Offer Yoga & Pilates Classes <br>- All Around the World</p>
    <%= link_to "Find Now", yogaclasses_path, class: "btn btn-gradient"  %>
  </div>
</div>
