  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path 'banner.jpg' %>);">
  <div class="container">
    <h1>Your Yoga</h1>
    <p>Find Or Offer Yoga & Pilates Classes <br>- All Around the World</p>
    <a class="btn btn-gradient" href="/users/sign_up">Sign up</a>
  </div>
</div>
