.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  background-color: $minty-green;
  border: white 3px solid;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: $grey-black;
}

.mapboxgl-popup-content a {
  color: $grey-black;
  text-decoration: none;
}

.mapboxgl-popup-content h4 {
  color: $grey-black;
}

.map-container {
  margin: 0 16px;
}
